.container {
  border: 1px black solid;
  height: 90vh;
  position: relative;
}

#metamong {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 30px;
  left: 50px;
}

#poketball {
  position: absolute;
  width: 100px;
  bottom: 20px;
  right: 50px;
}